.parentDiv {
  position: relative;
  width: 100%;
  height: 300px;
}


.buttonContainer {
  width: 100%;
  background-color: silver;
  text-align: center;
}

.firstB {
  background-color: yellow
}

.secondB {
  background-color: red
}

.thirdB {
  background-color: orange
}

.random {
  width: 30%;
  height: inherit;
}
